.logo{
    float: right;
}

.logo-inner{
    color: $dark;
    position: fixed;
    top: 10%;
    z-index: 9999;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .logo-inner {
        top: 5%;
        left: 75%;
    }
}

.label-logo {
    -webkit-animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -moz-animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.label-logo::after {
    font-size: 20px;
    content: "kevin.";
}

.label-logo:hover::after{
    content: "kevin.home";
    white-space: nowrap;
}

.on-hover-logo{
    transition: all .4s cubic-bezier(0.2,0.6,0.2,1);
}

.on-hover-logo:hover{
    margin-left: -40;
    transform: translateX(-40px);
    transition: all .4s cubic-bezier(0.2,0.6,0.2,1);
}


.top-bottom-margin{
    margin-top: 25vh;
    margin-bottom: 50px;
}

.top-image {
    width: 100vw;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    float: left;
    margin: 10vh 0;
}

.top-image img{
    width: 100%;
    object-fit: cover;
    pointer-events: none !important;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.delay02{
    animation-delay: .2s;
}

.block-overflow{
    width: 100%;
    overflow: hidden;
}
