.logo-inner-project{
    color: $dark;
    position: fixed;
    top: 10%;
    z-index: 9999;
    font-weight: bold;
}


@media screen and (max-width: 767px) {
    .logo-inner-project {
        top: 5%;
        left: 75%;
    }
}

.label-logo-project {
    -webkit-animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -moz-animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.label-logo-project::after {
    font-size: 20px;
    content: "ga.terug.";
}

.label-logo-project:hover::after{
    content: "ga.terug.projects";
    white-space: nowrap;
}

.on-hover-logo-project{
    transition: all .4s cubic-bezier(0.2,0.6,0.2,1);
}

.on-hover-logo-project:hover{
    margin-left: -40;
    transform: translateX(-40px);
    transition: all .4s cubic-bezier(0.2,0.6,0.2,1);
}