$kleur_wit: rgb( 250, 247, 240);
$kleur_accent: rgb(204, 177, 45);
$kleur_donker: rgb(51, 44, 11);
$kleur_medium: rgb(77, 70, 40);
$kleur_licht: rgba( 128, 117, 66, 0.8);




// variabelen themes
$theme-colors: (
        'light': $kleur_wit,
        'dark': $kleur_donker,
        'primary': $kleur_licht,
        'secondary': $kleur_medium,
        'succes':#CCB12D,
        'danger': #F04C25,

);