// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$montserrat-font: 'Montserrat', sans-serif;
$merriweather-font: 'Merriweather', serif;
$base-font-size: 18px;
$base-font-weight: 400;

// COLORS
//$dark: #071108;
$dark: #000000;
$white: #ffffff;
$grey: #333333;
$primary: #1f4986;
$secondary: #C47335;

// BREAK POINTS
$grid-breakpoints: (
        xs: 0,
        sm: 600px,
        md: 760px,
        lg: 995px,
        xl: 1200px
) !default;
$gr-sm: 600px;
$gr-md: 760px;
$gr-lg: 995px;

// THEMES
$theme-colors: (
        'light': $white,
        'dark': $dark,
        'primary': $primary,
        'secondary': $secondary,
        'succes':green,
        'danger': red,

);